---
layout: default
---

<article class="article-page">

<h1 class="page-title">
{{ page.title }}
</h1>


<div class="article-meta">

{% for author in page.authors %}
<p>
<strong>{{ author.name }}</strong>
{% if author.affiliation %}
<br>
<em>{{ author.affiliation }}</em>
{% endif %}
</p>
{% endfor %}

<p>
Volume {{ page.volume }},
Issue {{ page.issue }},
{{ page.year }}
</p>

</div>


{% if page.keywords %}
<p>
<strong>Keywords:</strong>
{{ page.keywords | join: ", " }}
</p>
{% endif %}



{% if page.abstract %}

<div class="card">

<div class="card-title">
Abstract
</div>

<p>
{{ page.abstract }}
</p>

</div>

{% endif %}



<hr>


{{ content }}



{% if page.pdf %}

<p>
<a class="btn primary"
href="{{ page.pdf | relative_url }}">
Download PDF
</a>
</p>

{% endif %}


</article>